@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    color: rgb(80, 80, 80);
}

.starter-template {
  text-align: center;
  padding: 40px 15px;
}

.starter-template li {
  color:rgb(80, 80, 80);
  font-size: 1.1em;
  line-height: 1.7;
  font-weight: 300;
}
.people {
  text-align: center;
  margin: auto;
  display: flex;
}
.portrait-container {
  margin: 0 auto;
  width: 50%;

}
.portrait-container img {
  border-radius: 50%;
  width:30%;
  margin-bottom: 10px;
}
.portrait-container p {
  margin:0px;
}
.lead b {
  font-weight: 500;
}

.starter-template b {
  font-weight: 600;
}

.container {
  padding-left: 450px;
  padding-top: 50px;
  padding-right: 100px;
  margin-left: 30px;
  text-align: center;
  width: 100%;

}

.container h2 {
  padding-bottom: 50px;
}


h1 {
  font-family: 'Comfortaa', 'cursive';
}

h2 {
  font-family: 'Comfortaa', 'cursive';
}

hr { margin: 20px 0 20px 0; }

.center-block {  
  width: 100%;
  display: block;  
  
}  
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: rgb(80, 80, 80);
    text-align: left;
}

#sidebar a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

code {
  background: #f6fdff;
  color:#15c2e9;
}

figure {
  text-align: center;
  padding: 20px 0px;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #61DCF8;
    color: #fff;
    transition: all 0.3s;
    position: fixed ;
    top: 0;
    bottom:0;
    font-family: 'Comfortaa', 'cursive';
    /* overflow-y: scroll; */
    
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #61DCF8;
    text-align: center;
    
    
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #61DCF8;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #61DCF8;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #15c2e9;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #61DCF8;
}

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#sidebar {
  min-width: 350px;
  max-width:350px;
  min-height: 100%;
}